@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap");

body {
  font-family: "Nunito", sans-serif !important;
}

.navbar {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

nav.bg-white {
  display: flex;
  background: #fff;
  font-weight: 400;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  min-height: 2.85714286em;
}

.brand-logo {
  font-weight: 700;
  color: #f08006;
}

.search-box input {
  padding: 10px 40px 10px 10px;
  height: 40px;
  width: 95%;
  font-size: 14px;
  outline: none;
  color: #000;
  background-color: #f7f7f7;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 5px;
}

.btn-custom {
  position: absolute;
  margin-left: -25px;
  background-color: #f7f7f7;
  color: #313131;
  height: 40px;
  border-radius: 0.5rem;
}

.btn-login {
  font-weight: 700;
  border-radius: 0.75rem;
  font-size: 12px;
  background: white;
  color: #f08006;
  cursor: pointer;
  border: 1px solid #f08006;
  transition: 0.5 ease;
}

.btn-login:hover {
  color: #fff;
  background: #f08006;
  border: 1px solid #fff;
}

.btn-register {
  font-weight: 700;
  border-radius: 0.75rem;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
  background: #f08006;
  border: 1px solid #fff;
  transition: 0.5 ease;
}

.btn-register:hover {
  background: white;
  color: #f08006;
  cursor: pointer;
  border: 1px solid #f08006;
}

.btn-cart {
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 15px;
  color: #858796;
  cursor: pointer;
  transition: 0.5 ease;
}

.btn-cart:hover {
  color: #858796;
}

.btn-user {
  font-weight: 700;
  border-radius: 0.5rem;
  font-size: 12px;
  color: #313131;
  cursor: pointer;
  transition: all 500ms ease 0s;
}

.btn-user:hover {
  color: #313131;
  background-color: rgb(242, 242, 242);
  border-radius: 1rem;
  transition: all 500ms ease 0s;
}

.logged-name {
  display: inline-block;
  color: #858796 !important;
  font-size: 13px;
  margin-left: 5px;
  padding-top: 5px;
}

.img-profile {
  height: 2rem;
  width: 2rem;
}

.dropdown.no-arrow .dropdown-toggle::after {
  display: none;
}

.shadow {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 0.85rem;
  color: #858796;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.35rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.badge-counter {
  position: absolute !important;
  transform: scale(0.7);
  transform-origin: top right;
  right: 0.4rem;
  margin-top: 0.5rem;
}

.dropdown-menu-left {
  width: 20rem;
  left: -250px;
}

.dropdown-header {
  background-color: #f08006;
  border: 1px solid #f08006;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #fff;
  white-space: nowrap;
}

.bg-slider {
  background: #858796;
  padding: 2rem;
}

.space-carousel {
  margin-top: 4rem;
}

.owl-theme {
  background-color: #fafafa;
  padding-top: 30px;
  padding-bottom: 30px;
}

.item-header {
  opacity: 0.4;
  transition: 0.4s ease all;
  margin: 0 -45px;
  transform: scale(0.8);
}
@media (max-width: 1000px) {
  .item-header {
    margin: 0;
    transform: scale(0.9);
  }
}
.active .item-header {
  opacity: 1;
  transform: scale(1);
}

.img-slider {
  border-radius: 1rem;
}

.box {
  position: relative;
  display: block;
  box-shadow: rgba(49, 53, 59, 0.12) 0px 1px 6px 0px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin-bottom: 24px;
  border-radius: 12px;
}

.icon-card {
  padding: 5px;
  background-color: #fafafa;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: all 500ms ease 0s;
}

.icon-card:hover {
  box-shadow: rgba(49, 53, 59, 0.12) 1px 1px 20px 8px;
  transition: all 500ms ease 0s;
}

.img-kategori {
  width: 100%;
  padding: 20px;
}

a.link-kateogri {
  color: #f08006;
  text-align: center;
  font-weight: 300;
}

a.link-kateogri:hover {
  font-weight: 700;
  text-decoration: none;
  transition: all 500ms ease 0s;
}

.text-flash {
  color: #858796;
  font-size: 1.3rem;
  font-weight: 300;
}

.countdown {
  display: inline-flex;
  font-size: 1rem;
  color: rgb(214, 0, 28);
}

.header-product {
  margin-bottom: -1rem;
}

.header-product::after {
  width: 100%;
  content: "";
  display: block;
  width: 0;
  height: 0.25em;
  border-radius: 0.5rem;
  background: #f08006;
}

.card-count {
  padding: 0.3rem;
  margin: 0px 0.2rem;
  color: #fff;
  font-weight: 700;
  vertical-align: middle;
  background: rgb(214, 0, 28);
  border-radius: 4px;
  margin-top: -5px;
}

.link-flash {
  font-size: 1.2rem;
  display: inline-block;
  color: #f08006;
}

.link-flash:hover {
  color: #f08006;
  text-decoration: none;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: none;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.diskon {
  position: absolute;
  z-index: +1;
  top: 0.9375rem;
  left: 0.9375rem;
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  line-height: 1.875rem;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 700;
}

.label-diskon {
  width: 50px;
  padding: 0.25rem 0.5rem;
  font-weight: 700;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  white-space: nowrap;
}

.like {
  position: absolute;
  z-index: +1;
  top: 0.9375rem;
  right: 0.9375rem;
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  text-align: center;
  color: #dc3545;
  border: 1px solid #dc3545;
  border-radius: 50%;
}

.label-like {
  cursor: pointer;
  width: auto;
  height: auto;
  padding: 0.25rem;
  font-size: 1rem;
  white-space: nowrap;
}

.link-product:hover {
  text-decoration: none;
}

.img-wrap {
  background-color: transparent;
  height: auto;
  margin: 0px auto;
  position: relative;
  text-align: center;
  width: 100%;
  display: block;
  object-fit: cover;
}

.card-img {
  object-fit: cover;
  height: 250px;
}

.card-title {
  font-size: 0.9rem;
  color: #333333;
  font-weight: 300;
}

.card-price {
  font-size: 1rem;
  color: #000;
  font-weight: 700;
}

.card-real-price {
  font-size: 1rem;
  color: rgb(214, 0, 28);
  font-weight: 300;
  text-decoration: line-through rgb(214, 0, 28);
}

.rating-product {
  color: #f08006;
  font-weight: 700;
}

.btn-buy {
  border: 1px solid #f08006;
  background-color: #ffffff;
  color: #f08006;
}

.btn-buy:hover {
  background-color: #f08006;
  color: #ffffff;
  transition: 0.5s ease;
}

.h2-border::after {
  content: "";
  display: block;
  width: 20%;
  margin-top: 5px;
  padding-top: 5px;
  border-bottom: 1px solid #f08006;
}

.btn-view {
  font-size: 1.2rem;
  font-weight: 700;
  background-color: #f08006;
  color: #ffffff !important;
  padding: 0.3rem;
  border-radius: 2rem;
  width: 18rem;
  transition: all 500ms ease 0s;
}

.btn-view:hover {
  background-color: #f08006;
  color: #ffffff !important;
  border-radius: 2rem;
  box-shadow: 0px 0px 7px 3px #f08006;
  transition: all 500ms ease 0s;
}

.progress {
  height: 0.3rem;
  border-radius: 2rem;
}

.text-progress {
  margin-top: 5px;
  margin-bottom: -5px;
  color: #858796;
}

h5.h5 {
  font-weight: 700;
  font-size: 20px;
}

.footer-ul {
  padding-inline-start: 0;
}

.footer-item {
  list-style: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
}

.footer-link {
  color: #858796;
  transition: all 500ms ease 0s;
}

.footer-link:hover {
  text-decoration: none;
  color: #f08006;

  transition: all 500ms ease 0s;
}

.bg-footer {
  width: 100%;
  margin-top: -50px;
}

footer {
  position: relative;
  width: 100%;
}

p.copyright {
  position: absolute;
  width: 100%;
  color: #858796;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  bottom: 0;
}

.space-hr {
  margin-top: 5rem;
}

.img-gallery {
  width: 100%;
}

.breadcrumb {
  padding-right: 0;
  padding-left: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
  font-family: "Font Awesome 5 Free";
  content: "\f105";
  display: inline-block;
  font-weight: 700;
}

.link-breadcrumb {
  color: #f08006;
  font-weight: 700;
}

.link-breadcrumb:hover {
  text-decoration: none;
  color: #f08006;
}

.product-name {
  font-weight: 700;
  color: #313131;
}

.info-product {
  color: #858796;
  font-weight: 700;
}

.detail-price {
  font-size: 2.5rem;
  color: #f08006;
  font-weight: 700;
  display: inline-block;
}

.detail-price-real {
  font-size: 1.2rem;
  color: #bbb;
  font-weight: 300;
  margin-bottom: 0;
  text-decoration: line-through #bbb;
}

.detail-sale {
  width: 75px;
  padding: 0.4rem;
  border-radius: 0.5rem;
  background-color: #f08006;
  font-size: 0.65rem;
  color: #fff;
  font-weight: 700;
  margin-left: 10px;
  position: absolute;
  margin-top: 8px;
}

.detail-kondisi {
  width: 100%;
  padding: 6px 15px;
  border-radius: 0.5rem;
  background-color: #dc3545;
  font-size: 0.65rem;
  color: #fff;
  font-weight: 700;
  font-size: 0.6rem;
  margin-top: 8px;
}

.title-opsi {
  color: rgba(0, 0, 0, 0.4);
}

span.number {
  margin: 100px;
}

.minus,
.plus {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: #f2f2f2;
  border-radius: 4px;
  padding: 8px 5px 8px 5px;
  padding-top: 2px;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
input.input-jumlah {
  height: 30px;
  width: 70px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}

.space-hr-info {
  margin-top: 1.25rem;
}

.btn-keranjang {
  font-weight: 700;
  border-radius: 0.5rem;
  color: #f08006;
  cursor: pointer;
  background: #fff;
  border: 1px solid #f08006;
}

.btn-beli {
  font-weight: 700;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  background: #f08006;
  border: 1px solid #fff;
}

.title-info {
  font-size: 22px;
  font-weight: 700;
}

.title-info-detail {
  font-size: 16px;
  margin-top: 5px;
  font-weight: 700;
  line-height: 1.2;
}

.img-info-detail {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.text-info-detail {
  font-size: 14px !important;
}

.btn-rating {
  margin-top: 10px;
  font-weight: 400;
  color: #f08006;
  background: #fff;
  margin-right: 10px;
  border: 1px solid #bbb;
}

.btn-rating.active {
  border: 1px solid #f08006;
}

span.rating-star {
  color: #000 !important;
}

.review-item-head {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.img-rating-star {
  width: 125px;
  margin-bottom: 10px;
}

h5.title-rating {
  margin-bottom: -5px;
}

small.time-rating {
  color: #bbb !important;
}

p.text-rating {
  margin-top: 15px;
  font-size: 13px;
}

.testi-image {
  display: flex;
}

.img-testi {
  width: 70px;
  height: 70px;
  cursor: pointer;
  border-radius: 0.5rem;
}

.review-user {
  width: 35px;
  border-radius: 50%;
  display: inline-block;
}

.page-link {
  color: #f08006 !important;
}

.box-cart {
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 450px;
  padding: 2.5rem;
}

.img-empty-cart {
  width: 300px;
  height: auto;
}

h3.text-heading {
  line-height: 1.4;
  font-weight: 700;
  margin-bottom: 7px;
  color: rgb(49, 53, 59);
  font-size: 1.71429rem;
  margin-top: 20px;
}

p.text-desc {
  color: rgb(49, 53, 59);
  line-height: 1.5;
  font-size: 14px;
}

.btn-empty {
  font-size: 1rem;
  width: 10rem;
  border-radius: 8px;
  font-weight: 700;
  padding: 6px;
  background-color: #f08006;
  color: #ffffff !important;
}

.cart-head {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 6px solid rgb(243, 244, 245);
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-title-head {
  font-size: 1rem;
  color: #858796;
}

.card-button-head {
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  color: #f08006;
}

.cart-shop {
  width: 100%;
  border-bottom: 6px solid rgb(243, 244, 245);
  padding-top: 15px;
  padding-bottom: 10px;
}

.img-shop {
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.product-name {
  position: relative;
  display: inline-block;
  padding-left: 15px;
}

a.title-shop {
  font-size: 1rem;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

.price-shop {
  display: inline-flex;
}

.slash-price {
  font-size: 1rem;
  color: #858796;
  text-decoration: line-through;
  padding-right: 10px;
}

.final-price {
  font-size: 1rem;
  color: #f08006;
  font-weight: 700;
}

.cart-other {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.note {
  margin-top: 15px;
  margin-bottom: 0;
}

.button-note {
  font-size: 0.85rem;
  font-weight: 700;
  color: rgb(214, 0, 28);
  cursor: pointer;
}

.cart-qty {
  margin-top: 5px;
}

.number-cart {
  display: inline-block;
}

.minus-cart,
.plus-cart {
  cursor: pointer;
  width: 25px;
  height: 25px;
  background: #f08006;
  color: #fff;
  border-radius: 50%;
  padding: 8px 5px 8px 5px;
  padding-top: 0;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
input.input-jumlah {
  height: 25px;
  width: 70px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}

.button-delete {
  cursor: pointer;
  color: #ccc;
  font-size: 20px;
  display: inline-block;
  padding-right: 10px;
}

.cart-detail {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.card-order {
  width: 100%;
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  border-radius: 8px;
  box-shadow: rgb(202, 211, 225) 0px 1px 4px 0px;
}

.card-voucher {
  border-bottom: 6px solid rgb(243, 244, 245);
  padding: 16px;
}

.card-total-price {
  padding: 16px;
}

.space-cart {
  margin-top: 6rem !important;
}

.text-order {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.text-total {
  font-size: 1rem;
  font-weight: 400;
}

.price-total {
  font-size: 1rem;
  font-weight: 700;
  color: #f08006;
}

.btn-order {
  font-size: 1.1rem;
  height: 48px;
  line-height: 22px;
  width: 100%;
  border-radius: 8px;
  font-weight: 700;
  outline: none;
  padding: 0px 16px;
  background: #f08006;
  color: #fff;
  margin-top: 25px;
}

.form-note {
  width: 155px !important;
  height: 30px;
  padding: 0.375rem 0.75rem;
  font-size: 0.75rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #fff;
  border-bottom: 3px solid #ced4da;
}

input.form-note:focus {
  border: 1px solid #fff !important;
  border-bottom: 3px solid #ced4da !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container-fluid {
  padding-left: 40px;
  padding-right: 40px;
}

.card-form {
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

.card-form-order {
  background: #fff;
  width: 100%;
  /* max-width: 500px; */
  border-radius: 10px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); */
  box-shadow: rgb(202, 202, 202) 0px 0px 5px 2px;
  margin-bottom: 20px;
}

.card-form-head {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: space-between;
  border-bottom: 6px solid rgb(238, 238, 238);
}

.title-form {
  font-size: 1.1rem;
  color: #000;
  font-weight: 700;
  margin-bottom: 0;
}

.back-form {
  font-size: 1rem !important;
  color: #f08006 !important;
  font-weight: 700;
}

.back-form:hover {
  text-decoration: none;
}

.form-order {
  padding: 20px;
}

.form-control {
  height: auto;
}

.label-pay {
  display: block;
  width: 100%;
}

.label-pay > input {
  visibility: hidden;
  position: absolute;
}
.label-pay > input + .div-pay {
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  border-radius: 0.5rem;
  margin-bottom: 20px;
  border: 1px solid rgb(202, 202, 202);
  transition: all 500ms ease 0s;
}
.label-pay > input:checked + .div-pay {
  background-color: #ffd6bb;
  border: 1px solid #ff6600;
  box-shadow: #ffd6bb 0px 0px 10px 2px;
  transition: all 500ms ease 0s;
}

.name-pay {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0;
}

.img-pay {
  width: 30px;
}

.card-list-order {
  padding-bottom: 10px;
  margin-bottom: 15px;
  width: 100%;
  border-bottom: 3px solid rgb(238, 238, 238);
}

.img-list-order {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.name-list-order {
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  margin-left: 10px;
}

.list-order {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
}

.note-list-order {
  font-size: 0.8rem;
  color: #858796;
}

.price-list-order {
  font-size: 0.8rem;
  color: #858796;
  margin-bottom: 10px;
  text-align: right;
}

.final-price-list-order {
  font-size: 1.2rem;
  font-weight: 700;
  color: #f08006;
  margin-top: -5px;
}

.card-count-list-order {
  width: 100%;
  float: right;
  margin-bottom: 10px;
}

.space-price {
  margin-top: -30px;
}

.title-list {
  font-size: 0.85rem;
  color: #858796;
}

.price-list {
  font-size: 0.85rem;
  color: #f08006;
  font-weight: 700;
}

.title-pay {
  font-size: 0.85rem;
  color: #858796;
  font-weight: 700;
  margin-top: 10px;
}

.space-order {
  margin-top: 6rem;
}
.bg-white {
  background-color: #fff !important;
}

.form-text {
  padding-left: 10px;
}

.price-detail-order {
  font-size: 1rem;
  font-weight: 700;
  color: #f08006;
}

@media (max-width: 768px) {
  .nav-space {
    display: none;
  }
  .badge {
    right: auto;
  }
  .product-name {
    margin-top: 2rem;
  }
}

@media (max-width: 600px) {
  .owl-theme {
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media (max-width: 500px) {
  .form-row {
    margin-right: 15px;
    margin-left: 15px;
  }
}
