@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap');

body{
    font-family: 'Nunito', sans-serif;
}

.space-container-login{
    margin-top: 4rem;
}

.bg-login{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.card-login{
    border: 1px solid #e0e0e0;
    border-radius: 1rem !important;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    padding: 2.2rem !important;
    width: 400px;
    margin-left: 50px;
}

h1.h1 {
    margin-top: -1.5rem;
}

.custom-control-input:checked~.custom-control-label::before{
    background-color: #f08006;
    border-color: #f08006;
}

a.link-primary {
    color: #f08006;
    text-decoration: none;
    background: transparent;
}

.btn-login{
    font-weight: 700;
    background-color: #f08006;
    color: #ffffff;
    transition: 0.5s ease;
}

.btn-login:hover{
    font-weight: 700;
    border: 1px solid #f08006;
    background-color: #ffffff;
    color: #f08006;
}

@media (max-width: 990px) {
    .bg-login {
        display: none;
    }
    .card-login{
        width: auto;
        margin-left: 0;
    }
}